<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean class="com.dxc.constructorinjection.Resume" name = "resref">
		<constructor-arg value = "B.Tech"/>
		<constructor-arg value = "2.5"/>
	</bean>
	
	<bean class="com.dxc.constructorinjection.Employee" name = "employee1">	
		<constructor-arg>
			<value>89</value>
		</constructor-arg>
		
		<constructor-arg value="Kapil"/>
		
		<constructor-arg ref="resref"/>
		
	</bean>
	
	<bean class="com.dxc.constructorinjection.Add" name="addobj">
		<constructor-arg value ="33"/>
		<constructor-arg value ="21"/>
	</bean>
	
</beans>